@{
    ViewData["Title"] = "Home Page";
}

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">HOME</h3>
    <p class="w3-center"><em>Board games requests</em></p>
    <p>
        We have created a fictional website for creating requests of any board game in the world.
    </p>
    <ul>
        <li>
            You can access to "all the existing" games in the <em>Games</em> section.
        </li>
        <li>
            You can see all the requests by position in the <em>Map</em> section.
        </li>
        <li>
            You can create requests in the <em>Create request</em> section.
        </li>
    </ul>
</div>